<div>
  <h1>Catch Up To Me !</h1>
  <div class="comic">
    <img src="images/catch-up-panel-1.jpg">
    <img src="images/catch-up-panel-2.jpg">
    <img src="images/catch-up-panel-3.jpg">
  </div>
  <% if acting_islander %>
  <div>
    <a href="/invite">Invite people to catch up</a>
  </div>
  <% end %>
  <div><a href="https://github.com/gracefuldev/sixmilebridge">This project on GitHub</a></div>
</div>