<div>
  <img width="20%" src="/images/pixie.jpg">
  <h1>Catch Up To Me !</h1>
  <% if acting_islander %>
  You are <%= acting_islander.email %>. <a href="/logout">Log out</a>
  <div>
    <a href="/invite">Invite people to catch up</a>
  </div>
  <% else %>
  <a href=<%= auth_url %>>Log in</a>
  <% end %>
  <div><a href="https://github.com/gracefuldev/sixmilebridge">This project on GitHub</a></div>
</div>