<div>
Send this to your friends!

<div class="email-preview">
<p class="email-subject"><%= @subject %></p>
<pre class="email-body"><%= @body %></pre>
</div>
<p>
<%= invitation_mailto_link("Click to send") %>
</div>