// Place all the styles related to the Invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


div.normal {
  background-color: black;
  color: white;
}

.wavy {
  color: white;
  background-image: url("https://images.pexels.com/photos/3704987/pexels-photo-3704987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}